.field {
	margin-bottom: 35px;
}

.field label{
	display: block;
	margin: 0 0 5px 0;
	color: #222;
	font-weight: 700;
	font-size: 10px
}

.field input{
	background-color: #fff;
	outline: 0;
	font-size: 18px;
	padding: 12px 30px;
	border: 2px solid rgb(34, 34, 34, 0.25);
	color:#222;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
}